
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Space+Grotesk:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Monoton);
.header{
    color: rgb(197, 180, 180);
    width: 100%;
    height: 150px;
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(36, 87, 39, 0.5);
    border-radius: 8px;
    

}
.rs{
    display: flex;
    padding-top: 20px;
}
.hm{
  padding-left: 115%;
    font-size: 36px;
    padding-top: 1%;
    font-family: kanit;
    
    
}
.ab{
    padding-left: 32%;
    padding-top: 1%;
    font-size: 36px;
    font-family: kanit;
}
.co{
    padding-left: 37%;
    padding-top: 1%;
    font-size: 36px;
    font-family: kanit;
}
.hd{
    padding-left: 5%;
    font-size: 54px;
    padding-top: 0%;
    font-family: kanit;
    
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    margin-right: -1px;
    margin-left: -1px;
    margin-top: -1px;
    
        /* Set background properties */
        background-image: url('greg-rakozy-oMpAz-DN-9I-unsplash.jpg'); /* Replace with the actual path to your image */
        background-size: cover; /* Cover the entire background */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        font-family: 'Arial', sans-serif; /* Set your preferred font */
    }
    
    /* Add additional styles for your content if needed */
    
    
.main-body{
    MARGIN-TOP: 45PX;
    

}

li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;
  
  }
  
  h2 > a {
    color: #e6dddd;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  h2 > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
  h2 > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: rgb(255, 247, 247);
  }
img{
    width: 262px;
    height: 279px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 247, 255));
    border-radius: 33px;

}
p{
    
    text-align: center;
    font-family: Space GrotesK;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: bold;
}
.jj{
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    font-weight: 200;
    font-family: Space GrotesK;
    text-shadow:
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5271ff,
    0 0 82px #5271ff,
    0 0 92px #5271ff,
    0 0 102px #5271ff,
    0 0 151px #5271ff;
    animation: flicker 1.5s infinite alternate; 

      
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.imag{
    width: 262px;
    align-items: center;
    
    margin-left: 535px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header + .main-body {
    padding-top: 102px;
  }
  .footer {
    padding:40px 0;
    background-color:#000000;
    color:#4b4c4d;
  }
  
  .footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer li {
    padding:0 10px;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer ul a:hover {
    opacity:1;
  }
  
  .footer .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer .social > a:hover {
    opacity:0.9;
  }
  
  .footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .jkp{
    height: 306px;
    margin-top: -57px;
    width: 315px;
}
  .social{
    text-align: center;
    letter-spacing: 30px;
    font-size: 30px;
  }
  .neon{
    font-family: 'Monoton', cursive;
    font-size:70px;
    color: #FFD5FF;
    position:absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
  }
  
  .flicker-slow{
    animation: flicker 3s linear infinite;
  }
  
  .flicker-fast{
    animation: flicker 1s linear infinite;
  }
  
  @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
          //text-shadow: none;
      opacity: .99;
          
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
          opacity: 0.4;
      }
  }
  p{
    font-size: 50px;
  }